.modal_info_bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.439);

  /*  */

  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 9999;
  
}

.modal_info_container {
  width: 450px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.122);

  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  /*  */

  
}

.modal_info_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  */

  padding-left: 20px;
  padding-right: 20px;
}

/*  */


.modal_info_icon_wrapper {
  width: max-content;
  height: max-content;
  margin-bottom: 15px;

  


}

.modal_info_icon {
  width: 80px;
  color: #9480A5
}

/*  */


.modal_info_text_wrapper {
  text-align: center;

}

.modal_info_text {
  font-size: 22px;
}