.avatar_box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.avatar {
    width: 150px;
    height: 80px;
    object-fit: cover;
    image-orientation: from-image;

}