.mapMineralBlock_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  /*  */

  width: 268px;
  height: 41.36px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #E2E2E2;

  /*  */

  margin-bottom: 10px;
}



.mapMineralBlock_image_contianer {
  width: 40px;
  height: 40px;
  margin-left: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}




.mapMineralBlock_title {

  margin-left: 20px;

  /*  */

  width: 72px;
  height: 22px;
  flex-shrink: 0;

  /*  */

  color: #FFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 18.75px */
  text-transform: uppercase;
}