.title {
    width: 354px;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 31.25px */
}

.camera_info {
    width: 354px;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 125%; /* 31.25px */
}


.camera_border {

}


.camera_container {
  position: relative; /* Для позиционирования внутри контейнера */
  display: inline-block;
}



.camera {
  border-radius: 20px;
  width: 100%; /* Видео займет всю ширину контейнера */
  height: auto;

}


.camera_container {
  position: relative; /* Важно для absolute позиционирования псевдоэлемента */
}



.camera_container::before {
  content: ""; /* Создание псевдоэлемента */
  position: absolute; /* Абсолютное позиционирование относительно контейнера */
  top: 25%; /* Отступ сверху (регулируйте по необходимости) */
  left: 25%; /* Отступ слева (регулируйте по необходимости) */
  width: 50%; /* Ширина рамки */
  height: 50%; /* Высота рамки */
  outline: 4px solid white; /* outline не влияет на размеры */

  box-sizing: border-box;
  pointer-events: none; /* Чтобы рамка не мешала взаимодействовать с видео */
}

.camera_container_active::before {
  content: "";
  position: absolute;

  
  box-sizing: border-box;
  pointer-events: none; /* Чтобы рамка не мешала взаимодействовать с видео */
}