.menu_container {
    
}

.menu_text {

    margin-top: 8px;

    /*  */

    width: 56px;
    height: 12px;
    flex-shrink: 0;

    /*  */

    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 11px */
}