.opne_mineral_container {
  width: 100%;
}


/*  */


.mineral_info_box {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.mineral_title {
  font-size: 32px;
  font-weight: 600;

  /*  */

  margin-top: 10px;
  margin-bottom: 20px;
}


.mineral_delete_btn {
  width: max-content;
  height: max-content;
  padding: 10px 20px;
  background-color: #9480A5;
  color: white
}


/*  */

.opne_mineral_wrapper {
  width: 100%;
}


.btn_container {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;

  /*  */
  margin-top: 30px;
  margin-bottom: 20px;

}
.btn {
  width: 49%;
  height: 56px;

  background-color: #9480A5;
  color: white
}