.title {
    width: 354px;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 31.25px */
}

.total_container {
    display: flex;
    width: 95%;
    height: 71px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(90deg, #7D22C9 0%, #FFBC41 100%);

    /*  */

    margin-left: 5px;
    margin-right: 5px;
}



.total_title {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;

}

/*  */



.price_container {
    display: flex;
    width: 95%;
    height: 71px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFBC41;

    /*  */

    display: flex;
    flex-direction: column;

    /*  */

    margin-left: 5px;
    margin-right: 5px;

}

.price_title {
    width: 50px;

    /*  */

    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 99%; /* 23.76px */

    /*  */

    margin-bottom: 10px;
}

.price_subtitle {

    width: 112px;

    /*  */

    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 99%; /* 17.82px */

}


/* collection */

.collection_title {
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 25px */

    /*  */
    margin-top: 20px;
    margin-bottom: 19px;

    /*  */

    display: flex;
    align-items: center;
    justify-content: center;
}

.collection_container {
    width: 354px;
    height: 291px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #7D22C9;
    background-image: url('../../../../public/ModalStatus/modal_status_bg.svg');

    
}

.collection_item_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15;
}

.collection_item_container {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.collection_item_image_box {
    display: flex;
    width: 69.198px;
    height: 69px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 13px;
}

.collection_item_title {
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 12.5px */
}



.btn {
    display: flex;
    width: 350px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFBC41;
    margin-bottom: 10px;
    color: black
}