.btn {
    width: 125px;
    height: 47px;


    /*  */

    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px; /* 181.25% */
    border-radius: 10px;
    border: 1px solid #FFF;

}