.textarea_container {
    display: flex;
    flex-direction: column;
}

.textarea_span {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 17.5px */

    /*  */

    margin-bottom: 10px;
    margin-top: 10px;
}

.textarea {
    display: flex;
    min-width: 353px;
    width: 100%;
    align-items: center;
    gap: 10px;
    resize: none;

    /*  */

    border-radius: 10px;
    border: 1px solid #D8DADC;
    background: #FFF;

    /*  */

    padding-left: 10px;
    padding-top: 10px;
}   