.title {
    width: 354px;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 31.25px */
}

.map_container {
    width: 353px;
}

/* map */



.map_background {
    display: flex;
    width: 353px;
    height: 562px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    /*  */

    border-radius: 20px;
    background: linear-gradient(180deg, #FFF5E3 0%, #FFE7B8 100%);
}


.map_image_container {
    width: 309px;
    height: 509px;
    object-fit: cover;
}









/*  */




.btn {
    display: flex;
    width: 350px;
    height: 56px;
    padding: 17px 152px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFBC41;
    margin-bottom: 10px;
}